general {
        output_format = "i3bar"
        colors = true
        interval = 10
}

order += "cpu_usage"
order += "cpu_temperature 0"
order += "cpu_temperature 1"
order += "cpu_temperature 2"
order += "battery 0"
order += "disk /"
order += "tztime local"

battery 0 {
        format = "%status %percentage %remaining"
        format_down = "No battery"
        status_chr = "⚡"
        status_bat = "🔋 "
        status_full = "☻"
        path = "/sys/class/power_supply/BAT%d/uevent"
        low_threshold = 10
}

tztime local {
        format = "%Y-%m-%d %H:%M"
}

cpu_usage {
        format = "%usage"
}

cpu_temperature 0 {
        format = "%degrees°"
        path = "/sys/devices/platform/coretemp.0/hwmon/hwmon1/temp1_input"
}
cpu_temperature 1 {
        format = "%degrees°"
        path = "/sys/devices/platform/coretemp.0/hwmon/hwmon1/temp2_input"
}
cpu_temperature 2 {
        format = "%degrees°"
        path = "/sys/devices/platform/coretemp.0/hwmon/hwmon1/temp3_input"
}

disk "/" {
        format = "%free"
}
